<template>
  <div class="about-wrapper">
    <transition name="fade">
      <LiveStreamSection/>
    </transition>
  </div>
</template>

<script>
import StartPanel from '../components/StartPanel.vue';
import AboutSection from '../components/AboutSection.vue';
import LiveStreamSection from '../components/LiveStreamSection.vue';

export default {
  name: 'home',
  components: {
    LiveStreamSection,
    StartPanel,
    AboutSection,
  },
  props: {
    step: {
      type: Boolean,
      default: 0,
    },
  },
};
</script>

<style lang="scss" scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
