<template>
	<div class="gallery-wrapper">
		<h2 class="title">Galeria stacji</h2>
		<div class="gallery">
			<div v-for="photo in photos" :key="photo.url">
				<GalleryImage :image="photo" @click.native="openGallery(photo.url)"/>
			</div>
		</div>
		<GalleryItemModal v-if="modalOpen" @closeModal="modalOpen = false" :url="modalItemUrl"/>
	</div>
</template>

<script>
	import GalleryImage from '../components/GalleryImage.vue';
	import GalleryItemModal from '../components/GalleryItemModal.vue';

	export default {
		name: 'Modules',
		components: { GalleryImage, GalleryItemModal },
		methods: {
			openGallery: function(url) {
				this.modalOpen = true;
				this.modalItemUrl = url;
			}
		},
		data() {
			return {
				modalItemUrl: '222',
				modalOpen: false,
				photos: [
					{
						url: 'https://lightsinthedark.files.wordpress.com/2017/11/iss-from-endeavour-sts127-7-28-09-2.jpg',
					},
					{
						url: 'http://en.es-static.us/upl/2017/10/oct2017-iss-spacewalk-astronaut-e1508352590849.jpg',
					},
					{
						url: 'http://4everstatic.com/obrazky/ludia/kozmonaut-na-iss,-zem-174777.jpg',
					},
					{
						url: 'https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2017/07/p-1-inside-iss-1.jpg',
					},
					{
						url: 'https://upload.wikimedia.org/wikipedia/commons/c/c2/STS-128_ISS_Separation_01.jpg',
					},
					{
						url: 'https://cnet1.cbsistatic.com/img/Ql_lUDkdsiepXKvn8yooIodMa1A=/2015/03/20/6dca169d-9756-4fce-a00f-b63dd2ef0364/iss2.jpg',
					},{
						url: 'https://upload.wikimedia.org/wikipedia/commons/1/1e/ISS-11_Discovery_heat_shield_photograph.jpg',
					},{
						url: 'https://s.tvp.pl/images2/c/5/3/uid_c53ba8acf665f0730a8558c6f59c65671546526808654_width_907_play_0_pos_0_gs_0_height_515.jpg',
					},{
						url: 'http://losyziemi.pl/wp-content/uploads/2014/11/Zorza-polarna-nad-Now%C4%85-Zelandi%C4%85-z-pok%C5%82adu-ISS.png',
					},
				]
			};
		},
	};
</script>

<style scoped lang="scss">
	.gallery-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px;
		padding-top: 100px;
		background: #111;

		.disclaimer {
			text-align: center;
			color: #FFF;
			margin: 10px;

			a {
				color: lightskyblue;
				text-decoration: none;
			}
		}

		.title {
			color: #FFF;
		}

		.gallery {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 20px;
		}
	}
</style>
