<template>
    <div>
        <transition name="fade">
            <StartPanel @discoverClick="$emit('discoverClick')" v-if="step === 0"/>
        </transition>
        <AboutSection v-if="step === 1"/>
    </div>
</template>

<script>
import StartPanel from '../components/StartPanel.vue';
import AboutSection from '../components/AboutSection.vue';

export default {
  name: 'home',
  components: {
    StartPanel,
    AboutSection,
  },
  props: {
    step: {
      type: Boolean,
      default: 0,
    },
  },
};
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
