<template>
	<div class="modules-wrapper">
		<h2 class="title">Moduły stacji ISS</h2>
		<div class="module" v-for="module in modules" :key="module.name">
			<div class="left" :style="{background: 'url('+module.img+')',backgroundSize:'cover'}"
					 style="background-size: cover">
			</div>
			<div class="right">
				<p class="title">{{module.name}}</p>
				<p class="desc">{{ module.desc }}</p>
			</div>
		</div>
		<h4 class="disclaimer">Informacje pobrane z <a
			href="https://pl.wikipedia.org/wiki/Mi%C4%99dzynarodowa_Stacja_Kosmiczna" target="_blank">www.wikipedia.org</a>
		</h4>
	</div>
</template>

<script>
	export default {
		name: 'Modules',
		data() {
			return {
				modules: [
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Zarya_from_STS-88.jpg/1280px-Zarya_from_STS-88.jpg',
						name: 'Zarya',
						desc: 'Pierwszy komponent stacji. Dostarcza zasilania elektrycznego. Obecnie służy jako moduł magazynowy, zawierający m.in. pojemniki z paliwem.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/a/ac/ISS_Unity_module.jpg',
						name: 'Unity',
						desc: 'Pierwszy moduł łącznikowy, łączący części amerykańską i rosyjską (poprzez PMA-1).',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/ISS_Zvezda_module-small.jpg/1280px-ISS_Zvezda_module-small.jpg',
						name: 'Zwiezda',
						desc: 'Moduł serwisowy stacji, zapewniający pomieszczenia mieszkalne dla stałej załogi, systemy podtrzymujące życie oraz kontroli orbity stacji. Stanowi też miejsce dokowania statków Sojuz, Progress i Automated Transfer Vehicle.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/ISS_Destiny_Lab.jpg/1920px-ISS_Destiny_Lab.jpg',
						name: 'Destiny',
						desc: 'Podstawowy moduł do prowadzenia prac badawczych. Stanowi miejsce zamontowania większości elementów Integrated Truss Structure.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/0/0c/ISS_Quest_airlock.jpg',
						name: 'Quest',
						desc: 'Podstawowa śluza powietrzna stacji, z której odbywają się wyjścia na zewnątrz w skafandrach amerykańskich EMU jak i rosyjskich Orłan. Quest składa się z przedziału z wyposażeniem i skafandrami oraz właściwej śluzy.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Pirs_docking_module_taken_by_STS-108.jpg/1920px-Pirs_docking_module_taken_by_STS-108.jpg',
						name: 'Pris',
						desc: 'Pirs zapewnia dodatkowe porty dokujące dla statków Sojuz i Progress, a także umożliwia wyjścia na zewnątrz stacji.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/d/da/Harmony_Relocation.jpg',
						name: 'Harmony',
						desc: 'Drugi moduł łącznikowy stacji, stanowiący węzeł zasilania elektrycznego, przekazywania danych oraz innych systemów. Do Harmony podłączone są moduły: europejski Columbus i japoński Kibō, a także poprzez port PMA-2 cumowały amerykańskie wahadłowce. Moduł obsługuje też inne moduły zaopatrujące stację.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/S122e007873.jpg/1920px-S122e007873.jpg',
						name: 'Columbus',
						desc: 'Podstawowy europejski moduł badawczy.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/7/7f/Kibo_ELM-PS_on_ISS.jpg',
						name: 'Kibō Experiment Logistics Module',
						desc: 'Część japońskiego laboratorium Kibō, umożliwiająca magazynowanie i transport do laboratorium.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/a/a3/Poisk.Jpeg',
						name: 'Poisk',
						desc: 'Moduł rosyjski, wykorzystywany do dokowania statków Sojuz i Progress oraz jako śluza powietrzna.',
					},
					{
						img: 'https://upload.wikimedia.org/wikipedia/commons/d/d9/Node_3_in_SSPF.JPG',
						name: 'Tranquillity',
						desc: 'Trzeci i ostatni moduł łącznikowy. Zawiera m.in. zaawansowane systemy podtrzymywania życia; miejsce podłączenia modułu Cupola.',
					},

				],
			};
		},
	};
</script>

<style scoped lang="scss">
	.modules-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px;
		padding-top: 100px;
		background: #111;

		.disclaimer {
			text-align: center;
			color: #FFF;
			margin: 10px;

			a {
				color: lightskyblue;
				text-decoration: none;
			}
		}

		.title {
			color: #FFF;
		}

		.module {
			width: 90%;
			background: #232323;
			border-radius: 5px;
			margin: 20px 0;
			overflow: hidden;
			color: #FFF;

			.left {
				width: 30%;
				height: 300px;
				float: left;
			}

			.right {
				width: 60%;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.title {
					font-size: 20px;
					padding: 10px;
					text-align: center;
				}
			}
		}
	}
</style>
