<template>
	<div class="about-wrapper">
		<div class="breadcrumb">
			<h1 class="title">Międzynarodowa Stacja Kosmiczna</h1>
		</div>
		<div class="pre-section">
			<div class="description">
				<h3 class="header"><span class="flaticon-planet icon"></span>Czym jest?</h3>
				<p>
				Pierwsza stacja kosmiczna wybudowana z założenia przy współudziale wielu krajów. Składa się obecnie z 16
				głównych modułów (docelowo ma ich liczyć 17) i umożliwia jednoczesne przebywanie sześciu członków stałej załogi
				(trzech do roku 2009). Pierwsze moduły stacji zostały wyniesione na orbitę i połączone ze sobą w 1998 roku.
				Pierwsza stała załoga zamieszkała na niej w roku 2000.

				Źródłem zasilania ISS są baterie słoneczne, transportem ludzi i materiałów do 19 lipca 2011 zajmowały się
				amerykańskie wahadłowce programu STS (od lutego 2003 do 26 lipca 2005 wstrzymane z powodu katastrofy Columbii)
				oraz rosyjskie statki kosmiczne Sojuz i Progress. Po zakończeniu amerykańskiego programu wahadłowców w 2011
				roku, jedynym przewoźnikiem astronautów stały się rosyjskie rakiety Sojuz.

				Na stacji znajduje się sprzęt radiowy na potrzeby krótkofalarstwa (projekt ARISS). Ma ona także przydzielone
				własne znaki wywoławcze: amerykańskie NN1SS oraz NA1SS, rosyjski RZ3DZR oraz niemiecki DL0ISS.
				</p>
			</div>
		</div>
		<div class="pre-section">
			<div class="description">
				<h3 class="header">
					<span class="flaticon-astronaut icon"> </span>Powstanie Stacji
				</h3>
				<p>
				Międzynarodowa Stacja Kosmiczna powstała w wyniku połączenia projektów budowy rosyjskiej stacji Mir-2,
				amerykańskiej Freedom oraz europejskiej Columbus. Miały one na celu spełnienie marzenia o stałym pobycie ludzi w
				kosmosie. Udaje się je realizować od 2 listopada 2000, kiedy to na ISS dotarła pierwsza stała załoga w składzie:
				William Shepherd, Jurij Gidzenko oraz Siergiej Krikalow (misja Sojuz TM-31). Pierwotnie stacja miała nazywać się
				Alfa (pierwsza)[8], jednak sprzeciwiła się temu strona rosyjska, twierdząc, że pierwszy był radziecki Salut 1 z
				1971 roku. W zamian zaproponowała nazwę „Atlant”, co z kolei nie spodobało się Amerykanom ze względu na zbytnie
				podobieństwo do zatopionej w morzu Atlantydy. Wobec braku innych pomysłów Międzynarodowa Stacja Kosmiczna do
				dziś nie posiada własnego imienia.
				</p>
			</div>
		</div>
		<div class="pre-section">
			<div class="description"><h3 class="header"><span class="flaticon-telescope icon"></span>Najbliższe przeloty nad
				Polską
			</h3>
				<table>
					<thead>
					<tr>
						<th>Data</th>
						<th>Czas trwania przelotu</th>
						<th>Jasność obiektu</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>2018-11-25 17:43:25</td>
						<td>56 sekund</td>
						<td>-0.9 mag</td>
					</tr>
					<tr>
						<td>2018-11-27 17:34:41</td>
						<td>2 minuty 31 sekund</td>
						<td>-1.9 mag</td>
					</tr>
					<tr>
						<td>2018-11-28 16:43:21</td>
						<td>3 minuty 49 sekund</td>
						<td>-1.4 mag</td>
					</tr>
					<tr>
						<td>2018-11-28 18:18:06</td>
						<td>1 minuta 35 sekund</td>
						<td>-1.3 mag</td>
					</tr>
					<tr>
						<td>2018-11-29 17:26:36</td>
						<td>3 minuty 8 sekund</td>
						<td>-2.7 mag</td>
					</tr>
					<tr>
						<td>2018-11-30 16:34:38</td>
						<td>5 minut 6 sekund</td>
						<td>-2.1 mag</td>
					</tr>
					<tr>
						<td>2018-11-30 18:10:12</td>
						<td>2 minuty 8 sekund</td>
						<td>-2.0 mag</td>
					</tr>
					<tr>
						<td>2018-11-30 18:10:12</td>
						<td>2 minuty 8 sekund</td>
						<td>-2.0 mag</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2019-01-06 05:24:32</td>
						<td>2 minuty 41 sekund </td>
						<td>-2.8 mag </td>
					</tr>
					<tr>
						<td>2019-01-06 06:57:39</td>
						<td>5 minut 6 sekund </td>
						<td>-1.9 mag </td>
					</tr><tr>
						<td>2019-01-07 06:07:25 </td>
						<td>3 minuty 41 sekund </td>
						<td>-2.5 mag </td>
					</tr><tr>
						<td>2019-01-08 05:17:46</td>
						<td>2 minuty 7 sekund </td>
						<td>-1.9 mag </td>
					</tr><tr>
						<td>2019-01-08 06:50:48</td>
						<td>3 minuty 46 sekund </td>
						<td>-1.2 mag </td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'AboutSection',
	};
</script>

<style scoped lang="scss">
	.about-wrapper {
		background: #222222;
		color: #FFF;

		.breadcrumb {
			background: url(../assets/image/iss2.jpg) fixed center;
			background-size: cover;
			width: 100%;
			height: 500px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: relative;

			&:after {
				content: '';
				background: #000;
				opacity: 0.5;
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}

			.title {
				color: #FFF;
				font-weight: 200;
				text-align: center;
				margin: 0;
				z-index: 1;
			}
		}

		.icon {
			padding: 20px;
			vertical-align: center;
		}

		.pre-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			vertical-align: middle;

			.image-holder {
				background-image: url("../assets/image/iss2.jpg");
				padding: 50px;
				width: 40%;
				height: 400px;
				background-size: contain;
				background-repeat: no-repeat;
			}

			.description {
				width: 50%;
				padding: 50px;
				line-height: 1.2em;
				text-align: justify;

				p {
					text-indent: 20px;
				}

				.header {
					font-size: 2em;
				}

				table {
					width: 100%;
					border-collapse: collapse;

					thead {
						text-align: center;
					}

					td, th {
						border: 1px solid #CCC;
						padding: 10px;
					}
				}
			}
		}

		.video {
			width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
</style>
