<template>
	<div class="modal-wrapper">
		<div class="close" @click="close">X</div>
		<img :src="url" alt="" class="image">
	</div>
</template>

<script>
	export default {
		name: "GalleryItemModal",
		methods: {
			close: function() {
				this.$emit('closeModal');
			}
		},
		props: {
			url: {
				type: String
			}
		}
	}
</script>

<style scoped lang="scss">
.modal-wrapper {
	h1 {
		color: #FFF;
	}
	background: rgba(0,0,0,0.3);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left:0;
	z-index: 10;
	.image {
		border-radius: 5px;
		height: 70vh;
		width: auto;
		background-position: center;
		background-size: cover;
	}
	.close {
		position: fixed;
		right: 0;
		top: 0;
		padding: 50px;
		color: #FFF;
		font-size: 30px;
		font-weight: 200;
		cursor: pointer;
	}
}
</style>
