<template>
	<div class="live-wrapper">
		<h1 class="title">Transmisja na żywo ze stacji ISS</h1>
		<iframe width="953" height="536"
						src="https://www.youtube.com/embed/ddFvjfvPnqk?controls=0&autoplay=1&disablekb=1&showinfo=0&modestbranding=1"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
	</div>
</template>

<script>
	export default {
		name: 'LiveStreamSection',
		created() {
			this.$emit('dark');
		},
	};
</script>

<style scoped lang="scss">
	.live-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background: #111;
		color: #FFF;
		height: 100vh;
		padding-top: 100px;
	}
</style>
