<template>
  <div :class="[{ step }, 'header']">
    <div class="top-header" @click="goTo('/')">International Space Station</div>
    <div class="menu">
      <p class="item" @click="goTo('/live')">NA ŻYWO</p>
      <p class="item" @click="goTo('/moduly')">MODUŁY</p>
      <p class="item" @click="goTo('/galeria')">GALERIA</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MenuHeader',
  props: {
    step: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    goTo(path) {
      this.step = 0;
      this.$router.replace(path);
      if (path == '/') {
        window.location.reload();
      } else {
      	this.$emit('switchDark');
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .header {
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: #FFF;
    justify-content: center;
		background: rgba(0,0,0,.4);

    a {
      text-decoration: none;
      color: #FFF;
    }

    .top-header {
      letter-spacing: 0.6em;
      padding-left: 20px;
			cursor: pointer;
    }
    @keyframes blinkLive {
      0%,100% {
        opacity: 1;
      }
      50% {
        opacity: 0.8;
      }
    }
    .menu {
      width: 50%;
      text-align: right;
      padding-right: 50px;
      p:first-child {
        position: relative;
        &:after {
          content: 'LIVE';
          background: #EF3159;
          color: #FFF;
          position: absolute;
          right: -5px;
          top: -15px;
          padding: 4px 2px;
          text-align: center;
          font-size: 10px;
          border-radius: 10px;
          display: block;
          height: 10px;
          width: 40px;
          animation: blinkLive 2s infinite;
        }
      }
      p {
        display: inline-block;
        padding: 5px 10px;
        cursor: pointer;
        border-color: #FFF;

        &:hover {
          border-bottom: 1px solid;
        }
      }
    }

    &.step {
      background: #FFF;
      color: #222;

      .menu {
        p {
          border-color: #222;
        }
      }
    }
  }
</style>
