<template>
    <div>
        <div class="background">
            <div class="animation-box">
                <img src="../assets/image/lay1.png" alt="" class="earth-box planet">
                <img src="../assets/image/lay3.png" alt="" class="earth-box moon">
            </div>
            <h1 class="crumb">STACJA ISS</h1>
            <h3 class="sub-crumb">International Space Station</h3>
            <div class="click" @click="$emit('discoverClick')">odkryj</div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'StartPanel',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @keyframes fadeIn {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @keyframes planetRotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    .background {
        width: 100vw;
        height: 100vh;
        background: url(../assets/image/space.jpeg);
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFF;
        overflow: hidden;
        &:after {
            content: '';
            background: rgba(0, 0, 0, 0.6);
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation: fadeIn 1s ease-out forwards;
        }
        .crumb {
            text-align: center;
            font-weight: 300;
            letter-spacing: 10px;
            font-size: 60px;
        }
        .sub-crumb {
            font-size: 30px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
        .animation-box {
            height: 300px;
            width: 300px;
            position: relative;
            transform: scale(0.7);
            margin-top: 100px;
            .earth-box {
                position: absolute;
                top: 0;
                left: 0;
            }
            .moon {
                animation: planetRotate infinite 10s linear;
            }
            .planet {
                transform: scale(0.9);
            }
        }
        .click {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-top: 2px solid #FFF;
            height: 50px;
            width: 150px;
            text-align: left;
            padding: 10px 0 10px 20px;
            font-size: 20px;
            transform: rotate(90deg);
            transition: 0.2s;
            z-index: 1;
            cursor: pointer;
            &:hover {
                bottom: 10px;
            }
        }
    }
</style>
