    /*
    Flaticon icon font: Flaticon
    Creation date: 25/11/2018 13:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-planet:before { content: "\f100"; }
.flaticon-telescope:before { content: "\f101"; }
.flaticon-rocket:before { content: "\f102"; }
.flaticon-solar-system:before { content: "\f103"; }
.flaticon-sputnik:before { content: "\f104"; }
.flaticon-jupiter:before { content: "\f105"; }
.flaticon-earth:before { content: "\f106"; }
.flaticon-astronaut:before { content: "\f107"; }
    
    $font-Flaticon-planet: "\f100";
    $font-Flaticon-telescope: "\f101";
    $font-Flaticon-rocket: "\f102";
    $font-Flaticon-solar-system: "\f103";
    $font-Flaticon-sputnik: "\f104";
    $font-Flaticon-jupiter: "\f105";
    $font-Flaticon-earth: "\f106";
    $font-Flaticon-astronaut: "\f107";