	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/11/2018 13:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-planet:before { content: "\f100"; }
.flaticon-telescope:before { content: "\f101"; }
.flaticon-rocket:before { content: "\f102"; }
.flaticon-solar-system:before { content: "\f103"; }
.flaticon-sputnik:before { content: "\f104"; }
.flaticon-jupiter:before { content: "\f105"; }
.flaticon-earth:before { content: "\f106"; }
.flaticon-astronaut:before { content: "\f107"; }