<template>
  <div id="app">
    <MenuHeader/>
    <router-view @discoverClick="switchLight()" :step="step"/>
  </div>
</template>

<script>
import MenuHeader from './components/MenuHeader';

export default {
  name: 'App',
  components: { MenuHeader },
  data() {
    return {
      step: 0,
    };
  },
  methods: {
    switchLight() {
      this.step = 1;
    },
    switchDark() {
			this.step = 0;
    },
  },
};
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
  @import "assets/font/flaticon.css";

  body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
  }
</style>
